.pie-recipe {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 // margin-top: 55%; // TODO Asha Check on big screen
}

h2 {
  color: #333;
}

.pie-image {
  max-width: 100%;
  border-radius: 8px;
}

ul, ol {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

.note {
  color: #888;
  font-style: italic;
  margin-top: 20px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .pie-recipe {
    border-radius: 0;
  }

  h2 {
    font-size: 1.5em;
  }

  .pie-image {
    margin-bottom: 15px;
  }

  ul, ol {
    padding-left: 15px;
  }

  li {
    margin-bottom: 6px;
  }

  .note {
    margin-top: 15px;
  }
}
.pieName {
  margin-bottom: 0;
  margin-top: 0;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
 // font-size: 16px;
  //font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Like button style */
#likeButton {
  background-color: #3498db;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size:10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

/* Subscribe button style */
#subscribeButton {
  background-color: #e74c3c;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #2c3e50;
  color: #fff; /* Change text color on hover */
}

ol {
  font-size: 16px;
  margin-left: 20px;
}

