<div class="pie-recipe">
  <h2 class="pieName">{{ pieName }} Recipe</h2>
  <br>
  <img src="{{ pieImageUrl }}" alt="{{ pieName }}" class="pie-image">

  <!--- Angular17 @Defer & New Control Flow Example 1-->
  <h3>Ingredients:</h3>
  @defer (on hover) {
    <app-applepie-ingredient></app-applepie-ingredient>
  }
  @placeholder {
    <span><i>Placeholder (hover it!)</i></span>
  }

  <!--- Angular17 @Defer & New Control Flow Example 2-->
  <h3>Instructions:</h3>
  @defer (on timer(10s)) {
    @for (step of instructions; track step.id) {
      <li>{{ step.name }}</li>
    }
  }  @placeholder {
    <span><i>Placeholder (should display in 10s)</i></span>
  }

  <p class="note">Note: {{ recipeNote }}</p>

  <h3>Survey:</h3>
  <hr>
  <!--- Old Control Flow *ngFor
  <li *ngFor="let ingredient of ingredients">{{ ingredient.name }}</li>
  -->
  <input #checkbox type="checkbox" [checked]="isCheckedSurveyInput()"
         (change)="isCheckedSurveyInput.set(checkbox.checked)" id="checkbox"/>
  <span> Did you make this Pie? </span>
  <!--- Old Control Flow *ngIf
    <span *ngIf="isCheckedSurveyInput()">Yes</span>
    <span *ngIf="!isCheckedSurveyInput()">No</span>-->
  <!--- New Control Flow ngIf-->
  @if (isCheckedSurveyInput()) {
    <span><strong>Yes</strong></span>
  } @else {
    <span><strong>No</strong></span>
  }
  <!--- Angular17 @Defer & New Control Flow Example 3-->
  <hr>
  <div>
    <br>
    <button class="button-62" role="button" (click)="isClicked.set(true)">Results</button>
    @defer (when isClicked()) {
      <app-survey-recipe></app-survey-recipe>
    } @placeholder {
      <span class='placeholder'>
        <h4>Placeholder - Click here to show survey results!</h4
        ></span>
    } @loading (minimum 5s) {
      <span class='loading'><h4>Loading...</h4></span>
    } @error {
      <span class='error'><h4>Error..</h4></span>
    }
  </div>
</div>
