<h1>Hi NgPune Angular Enthusiasts</h1>
<h2>This is {{title}}</h2>
<h3> &#9733; Defer on button click &#9733; </h3>

<div>
  <button (click)="isClicked.set(true)" >Click on me to load <strong>app-child</strong> component</button>
</div>
<br>

@defer (when isClicked()) {
<app-child/>
}
@placeholder {
<span class='placeholder'>Placeholder</span>
}
@error {
<span class='error'>Error</span>
}
@loading(minimum 1s) {
<span class='loading'>Loading...</span>
}

<hr>

<h3> &#9734; Defer on hover &#9734; </h3>

@defer (on hover) {
<span class='done'>Hovered</span>
}
@placeholder {
<span class='placeholder'>Hover me!</span>
}

<hr>

<h3> &#9733; Defer on interaction &#9733; </h3>

@defer (on interaction) {
<span class='done'>Clicked</span>
}
@placeholder {
<span class='placeholder'>Click me!</span>
}

<hr>

<h3> &#9734; Defer on timer (10s) &#9734; </h3>

@defer (on timer(10s)) {
<span class='done'>I am visible after 10s</span>
}
@placeholder {
<span class='placeholder'>Placeholder</span>
}

<hr>

<h3>&#9733; Prefetch &#9733;</h3>

@defer (on interaction; prefetch on hover) {
<app-child/>
}
@placeholder {
<span>Placeholder (hover it, then click on it!)</span>
}
