<div class="ashie-verse">
  <h2>{{ ashieName }}</h2>
  <div class="flex-container">
    <div class="flex-item">
      <img alt="{{ ashieName }}" class="ashie-image" src="{{ ashieImageUrl }}">
    </div>

    <div class="flex-item">
      <input [(ngModel)]="isCompleted" type="checkbox"/>
      Check when you spot the 🔥 in the canvas painting!
      <br>
      <div *ngIf="isCompleted; else notCompleted">
        <p>Congratulations! You spotted it right!</p>
        <pre>
        <code>
          &commat;if (isCompleted) &#123;
            &lt;p&gt;Congratulations! You spotted it right!&lt;/p&gt;
           &#125;
           &commat;else &#123;
             &lt;p&gt;Ouch! You missed it!&lt;/p&gt;
           &#125;
        </code>
      </pre>
     </div>
      <ng-template #notCompleted>
        <p>Ouch! You missed it!</p>
        <pre>
        <code>
          &lt;div *ngIf="isCompleted"&gt;
            &lt;p&gt;Congratulations! You spotted it right!&lt;/p&gt;
          &lt;/div&gt;
          &lt;div *ngIf="!isCompleted"&gt;
            &lt;p&gt;Ouch! You missed it!&lt;/p&gt;
          &lt;/div&gt;
        </code>
        </pre>
      </ng-template>
    </div>
    <div>
      <!--
            @if (isCompleted) {
              <p>Congratulations! You spotted it right!</p>
            }
            @else {
              <p>Ouch! You missed it!</p>
            }-->
    </div>
  </div>
</div>
