.ashie-image {
  max-width: 100%;
  border-radius: 8px;
}
.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
  /* Adjust flex property to control the width of each div */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

pre {
  background-color: #d2f6f4;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto;
}
span {
  color: #231de5;
  font-weight: bold;
}
.for {
  margin-top: 15px;
  border: 1px solid #ddd;
  overflow-x: auto;
  background-color: #d2f6f4;
  padding: 5px;
  border-radius: 5px;
}
