<mat-card>
  <mat-card-content style="display: flex; justify-content: stretch; flex-direction: column">
    <h2 mat-card-title>Duck Newsletter</h2>
    <h3>Sign up to the Duck Newsletter!</h3>
    <p><i>It's quacking great!</i></p>
    <form style="width: 100%; display: flex; flex-direction: column; justify-content: stretch">
      <mat-form-field>
        <input matInput placeholder="friends@ducks.com" type="email">
      </mat-form-field>

    </form>
    <button mat-raised-button color="accent">SIGN ME UP!</button>
  </mat-card-content>
</mat-card>
