
<br/><button (click)="selectingStateClick()">Select Product</button> &nbsp;&nbsp;<button (click)="outOfOrderStateClick()">Out Of Order</button><br/><br/>

<P>Please select...</P>
<button (click)="insertCoin()">Insert Coin</button>&nbsp;&nbsp;
<button (click)="selectProduct()">Select Product</button>&nbsp;&nbsp;
<button (click)="dispenseProduct()">Dispense Product</button>&nbsp;&nbsp;
<button (click)="returnCoin()">Return Coin</button>&nbsp;&nbsp;

<p><b>Current State : {{currentStateDescription}}</b></p><br/>

<p>{{insertCoinValue}}</p>
<p>{{selectProductValue}}</p>
<p>{{dispenseProductValue}}</p>
<p>{{returnCoinValue}}</p>



