
.angular-playground-text {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to right, #3498db, #2ecc71);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.class1 {
  color: #3498db;
}
.class2 {
  color: #2ecc71;
}
