<div class="video-chat-wrapper">
  <h2>1. Start your Webcam</h2>
  <div class="videos">
    <span>
      <h3>Local Stream</h3>
      <video #webcamVideo autoplay playsinline></video>
    </span>
    <span>
      <h3>Remote Stream</h3>
      <video #remoteVideo autoplay playsinline></video>
    </span>
  </div>

  <button (click)="startWebcam()">Start Webcam</button>

  <h2>2. Create a new Call</h2>
  <button (click)="createCall()">Create Call (offer)</button>

  <h2>3. Join a Call</h2>
  <p>Answer the call from a different browser window or device</p>
  <input #callInput />
  <button (click)="answerCall()">Answer</button>

  <h2>4. Hangup</h2>
  <button (click)="hangUp()">Hangup</button>
</div>
