<div class="outerContainer hide">
    <h3>CSS Variables (Custom Properties)​</h3>
   
</div>
<div class="outerContainer">
    <h3>Pseudo-Elements in CSS​</h3>
    <div class="container">    
        
        <button type="submit">Submit</button>
        <h1 class="quote">do one thing every day that scares you.</h1>
    </div>
</div>

<div class="outerContainer hide">
    <h3>CSS Tricks</h3>
    <div class="container">    
    </div>
</div>

<div class="outerContainer hide">
    <h3>CSS Tricks</h3>
    <div class="container">    
    </div>
</div>
