<div class="card">
    <div class="card-header">
        <div class="card-title" style="color: #999;">Angular Accessibility: Dropdown</div>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="btn btn-primary" (click)="showAlert()">Click me!</div>
              </div>
            </div>
        </form>
    </div>
</div>