
:host {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: auto;
}
 .heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
 }

.main-container {
    display: flex;
    justify-content: space-around;
}

sol-dropdown {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

.button-native {
  font-family: 'Open Sans', sans-serif;
  background-color: #005c99;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
}