<div class="card">
    <div class="card-header">
        <h5 class="card-title">Angular Form: Before Accessibility Improvements</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-sm-6 mt-3 form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="firstName"> 
                </div>
                <div class="col-sm-6 mt-3 form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="lastName">
                </div>
            </div>
            <div class="col-2 mt-3">
                <button class="col-2" type="button" class="btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>